asgiref==3.8.1
cloudinary==1.44.0
dj-database-url==2.3.0
dj-rest-auth==2.1.9
Django==4.2.20
django-allauth==0.51.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
gunicorn==23.0.0
oauthlib==3.2.2
Pillow==8.2.0
psycopg2-binary==2.9.10
PyJWT==2.9.0
python3-openid==3.2.0
pytz==2025.2
requests-oauthlib==2.0.0
setuptools==79.0.0
sqlparse==0.5.3
